<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower">
                <div id="sidebar">

                    <!-- Sidebar -->

                        <section>
                            <h3>Parametros de busqueda</h3>
                            <p>Ingrese el nombre del autor que desea buscar aqui:</p>
                            <input type="text" name="nombredelacaja">
                            <h3>_____________________________</h3>
                            <p>O seleccione uno de nuestros autores mas destacados:</p>
                                <select name="autorAuto">
                                <option value="0">----------------------</option>    
                                <option value="1">Mario Mendoza</option> 
                                <option value="2">Gabriel Garcia</option> 
                                <option value="3">Alfredo Molano</option>
                                <option value="10">Julio Cortazar</option> 
                                <option value="11">Pepito Perez</option>
                                </select>
                                <h3></h3>
                            <footer>
                                    <a href="#" class="boton1">Buscar</a>
                            </footer>
                        </section>

                </div>
            </div>
            <div class="col-8  col-12-narrower imp-narrower">
                <div id="content">

                    <!-- Content -->

                        <article>
                            <header>
                                <h2>Busqueda por autor.</h2>
                                
                                <p>Porfavor realizar una busqueda</p>
                            </header>
                        </article>

                </div>
            </div>
        </div>
    </div>
</section>