.Presentacion{
    position: absolute;
    background: linear-gradient(rgba(32, 236, 175, 0.2),rgba(230, 149, 28, 0.274)), url("../assets/LogoIPAZUD.jpg") left no-repeat;
    background-position: center;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
    @media (orientation: portrait) {
      background-size: auto 100%;
    }
}
.contenedor{
    width: 90%;
    max-width: 1300px;
    margin: auto;
  }
  .contenedor-titulo{
    display: flex;
    justify-content: center;
    margin: 20vh 0;
  }
  .contenedor-titulo h1{
    font-size: 70px;
    color: #fff;
    margin-bottom:0;
  }
  .contenedor-titulo h2{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom:40;
  }
  .contenedor-titulo a {
    width: 155px;
    display: inline-block;
    background: #da690d;
    font-size:15px;
    color: #fff;
    margin-top: 5%;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .contenedor-titulo .titulo{
    text-align: center;
  }
  h3{
    text-align: center;
    font-size: 45px;
    font-weight: normal;
  }
  