<section class="wrapper style1">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-4 col-12-narrower">
                    <div id="sidebar">
    
                        <!-- Sidebar -->
    
                            <section>
                                <h3>Parametros de busqueda</h3>
                                <p>Ingrese las palabras clave o tematicas del audio que desea buscar aqui:</p>
                                <input type="text" name="nombredelacaja">
                                <h3>_____________________________</h3>
                                <p>Ingrese el nombre del participante del audio que desea buscar aqui:</p>
                                <input type="text" name="nombredelacaja">
                                <h3>_____________________________</h3>
                                <p>Seleccione el año del audio:</p>
                                    <select name="OS">
                                        <option value="0">----------------------</option>    
                                        <option value="1">2011</option> 
                                        <option value="2">2012</option> 
                                        <option value="3">2013</option>
                                        <option value="10">2014</option> 
                                        <option value="11">2015</option>
                                        <option value="11">2016</option>
                                        <option value="11">2017</option>
                                        <option value="11">2018</option>
                                        <option value="11">2019</option>
                                        </select>
                                    <h3></h3>

                                    
                                <footer>
                                        <a href="#" class="boton1">Buscar</a>
                                </footer>
                            </section>
    
                    </div>
                </div>
                <div class="col-8  col-12-narrower imp-narrower">
                    <div id="content">
    
                        <!-- Content -->
    
                            <article>
                                <header>
                                    <h2>Busqueda de Audios.</h2>
                                    
                                    <p>Porfavor realizar una busqueda</p>
                                </header>
                            </article>
    
                    </div>
                </div>
            </div>
        </div>
    </section>
